# configuration variables
PROJECT_ID =
MODEL_ID =
BUCKET_NAME =
BATCH_NAME = "gemini_batch_processor"
LOCATION = "global" 
PROMPT = "Extract the main topic and a short one-sentence summary from the given document. Return the result as JSON Array."

# names, paths and folders
INPUT_JSONL_NAME = "input.jsonl"
OUTPUT_JSONL_PATH ="jsonl/prediction-model-2026-03-19.../"  # change with actual folder name from bucket before running post_process pipeline
INPUT_FOLDER = "input"
OUTPUT_FOLDER = "output"
JSONL_FOLDER = "jsonl"